.grid {
  font-size: 62.5%;
  position: relative;
}

.titre {
  display: flex;
  justify-content: center;
  height: 176px;
  margin-top: 50px;
}

.titre p {
  font-size: 4rem;
  color: #de8496;
  margin-bottom: 2vh;
}

.trait1 {
  top: 182px;
  height: 1px;
  background-color: black;
  width : 250px;
  position: absolute;
  z-index: 1;
}

.trait2 {
  top: 182px;
  left: 250px;
  height: 811px;
  background-color: black;
  width: 1px;
  position: absolute;
  z-index: 1;
}

.trait3 {
  top: 992px;
  height: 1px;
  background-color: black;
  width : 250px;
  position: absolute;
  z-index: 1;
}

.bullet {
  display: flex;
  margin-left: 15vh;
  margin-top: 7px;
  margin-right: 15vh;
  z-index: 2;
  background-color: #fafafa ;
}

.image img {
  height: 10rem;
  width: 10rem;
  margin: 30px 10vh;
}

.description_image {
  font-size: 1.8rem;
}

.image{
  width: auto;
  z-index: 3;
}

.text{
  width: 65%;
  display: flex;
  height: 162px;
}

.text p {
  display: flex;
  align-items: center;
}

.espace {
  width: 100%;
  height: 10vh;
  background-color: white;
}
//



// SECONDE PARTIE



//

.philosophie {
  letter-spacing: normal;
  background-color: #fafafa;
  margin-left: 15vh;
  margin-right: 15vh;
  text-align: justify;
  height: 100vh;
}

.title_crea {
  height: 10vh;
  background-color: #fafafa ;
  display: flex;
  justify-content: center;
  margin-left: 15vh;
  margin-right: 15vh;
}

.title_crea p {
  margin-top: 10vh;
  font-size: 2.8rem;
  color: #de8496;
  margin-left: auto;
  margin-right: auto;
}

.a_propos h2 {
  font-size: 1.6rem;
  margin-left: 5vh;
}

#a_propos {
  padding-top: 2vh;
  font-size: 1.6rem;
  margin-left: 5vh;
  margin-right: 5vh;
  line-height: 2.3rem;
}

.creatrice {
  height: 30vh;
  width: 100%;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}

.descriptif_crea {
  height: 100px;
  display: flex;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#descriptif_crea {
  font-size: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}

.creatrice img{
  height: 25vh;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

#parcours {
  padding-top: 2vh;
  font-size: 1.6rem;
  margin-left: 5vh;
  margin-right: 5vh;
  line-height: 2.3rem;
}

.parcours h2{
  font-size: 1.6rem;
  margin-left: 5vh;
}

.discover_products a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: auto;
  background: #997C6C;
  color: white;
  border: solid thick white;
  outline: solid 1px #997C6C;
  margin: 0 auto;
  padding: 5%;
  font-size: 2.5rem;
}

.discover_products {
  margin-top: 50px;
  transition: all .2s ease-in;
  width: 300px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.discover_products:hover {
  transform: scale(1.08)
}
//


// RESPONSIVE //


//

@media only screen and (max-width : 1280px)  {
  .trait1 {
    display: none;
  }

  .trait2 {
    display: none;
  }

  .trait3 {
    display: none;
  }

  .bullet {
    width: auto;
    margin-left: -5vh;
    margin-right: 0vh;

  }

  .image img {
    height: 10rem;
    width: 10rem;
    display: flex;
    justify-content: center;
  }

  .image{
    width: auto;
    z-index: 3;
  }

  .text{
    width: 65%;
  }

  .description_image {
    font-size: 1.8rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .description_image p {
    font-size: 1.8rem;
    width: 100%;
    display: flex;
    align-items: center;
  }


// DEUXIEME PARTIE //

  .philosophie {
    letter-spacing: normal;
    background-color: #fafafa;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 42px;
    text-align: justify;
    height: auto;
  }

  .title_crea {
    height: 10vh;
    background-color: #fafafa ;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .logo-white {
    display: none;
  }
}
@media only screen and (max-device-width : 769px){
  .trait1 {
    display: none;
  }

  .trait2 {
    display: none;
  }

  .trait3 {
    display: none;
  }

  .bullet {
    width: auto;
    height: auto;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    background: #fafafa ;
  }

  .image{
    width: 100%;
    display: flex;
    height: 100px;
  }

  .image img {
    height: 10rem;
    width: 10rem;
    margin-bottom: -3vh;
    margin-left: auto;
    margin-right: auto;
  }

  .text{
    width: 100%;
    display: flex;
    height: 300px;
    text-align: center;
  }

  .description_image {
    font-size: 1.8rem;
    width: 100%;
    display: flex;
  }

  .description_image p {
    font-size: 1.8rem;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .text p {
    display: flex;
    align-items: center;
  }

  .philosophie {
    letter-spacing: normal;
    background-color: #fafafa;
    margin-left: 2px;
    margin-right: 2px;
    text-align: justify;
    height: 145vh;
  }

  .title_crea {
    height: 10vh;
    background-color: #fafafa ;
    display: flex;
    justify-content: center;
    margin-left: 2px;
    margin-right: 2px;
  }

}

@media only screen and (max-width : 780px){
  .trait1 {
    display: none;
  }

  .trait2 {
    display: none;
  }

  .trait3 {
    display: none;
  }

  .bullet {
    width: auto;
    height: auto;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    background: #fafafa ;
  }

  .image{
    width: 100%;
    display: flex;
    height: 100px;
  }

  .image img {
    height: 10rem;
    width: 10rem;
    margin-bottom: -3vh;
    margin-left: auto;
    margin-right: auto;
  }

  .text{
    width: 100%;
    display: flex;
    height: 300px;
  }

  .description_image {
    font-size: 1.8rem;
    margin-left: 5vh;
    margin-right: 5vh;
    width: 100%;
  }

  .description_image p {
    text-align: center;
  }

  .text p {
    display: flex;
    align-items: center;
  }

  .philosophie {
    letter-spacing: normal;
    background-color: #fafafa;
    margin-left: 2px;
    margin-right: 2px;
    text-align: justify;
    height: auto;
  }

  .title_crea {
    height: 10vh;
    background-color: #fafafa ;
    display: flex;
    justify-content: center;
    margin-left: 2px;
    margin-right: 2px;
  }
}
