.grid {
  width:100%;
  display: flex;
}

.pure-u.pure-u-md-1-2.pure-u-lg-1-4 {
  width: 1000px;
  display: flex;
  flex-flow: column nowrap;
  white-space: nowrap;
}

.circle {
  height: 15rem;
  display: flex;
  width: 10rem;
}
