div.pure-g#top{
  div.pure-u-1-2#left{
    padding-top: 100px;
    display: flex;
    img.pure-u-3-4#grande{
      width:345px;
      height: 345px;
      border: 1px solid $light-brown;
    }
    div#goutière{
      padding:0;
      margin:0;
      div#petites_images{
        margin: 0px 20px 0px 315px;
        flex-direction: column;
        width: 105px;
        img.petite{
          width:109px;
          height: 109px;
          margin-bottom: 5px;
          border: 1px solid $light-brown;
        }
      }
    }
  }

  div.pure-u-1-2#right{
    padding-top: 100px;
    div.titre{
      background-color: #DD8496;
      padding: 3px;
      height: 80px;
      border-radius: 3px;
      h3 {
        padding-left: 30px;
        font-family: $primary-font;
        font-size: 25px;
      }
    }
    div.ligne{
      display: flex;
      img{
        width:40px;
        height: 40px;
        padding: 30px 5px 5px 15px;
      }
      span{
        margin-top: 42px;
        font-size: 13px;
      }
    }
    div.ligne2{
      display: flex;
      img{
        width:30px;
        height: 30px;
        padding: 10px 5px 5px 20px;
      }
      span{
        margin-top: 17px;
        margin-left: 5px;
        font-size: 13px;
      }
    }
    div.ligne3{
      display: flex;
      img{
        width:40px;
        height: 40px;
        padding: 10px 5px 5px 15px;
      }
      span{
        margin-top: 22px;
        font-size: 13px;
      }
    }
    div.petit{
      padding-top: 15px;
      padding-right: 350px;
      span.matiere{
        display:flex;
        align-items: flex-end;
        flex-direction: column;
      }
      span.quantite{
        font-size: 14px;
        margin-top: 15px;
      }
      input{
        width:20px;
        height: 20px;
        margin-left: 5px;
        margin-top: 15px;
      }
      span.price{
        background-color: $light-pink;
        margin: 15px -5px 0px 210px;
        font-size: 15px;
        padding: 7px 10px;
      }
      span.ajoutez_au_panier{
        background-color: $light-pink;
        margin-top: 15px;
        font-size: 15px;
        padding: 7px 10px;
      }
      a{
        text-decoration: none;
      }
    }
  }
}
