div.pure-g#top{
  letter-spacing: normal;
  display: flex;
  justify-content: center;
  div.pure-u-1pure-u-lg-1-2#left{
    padding: 100px 0px 0px 315px;
    display: flex;
    img.pure-u-3-4#grande{
      width:345px;
      height: 345px;
      border: 1px solid $light-brown;
    }
    div#goutière{
      padding:0;
      margin:0;
      div#petites_images{
        margin: 0px 20px 0px 0px;
        flex-direction: column;
        width: 105px;
        img.petite{
          width:109px;
          height: 109px;
          margin-bottom: 5px;
          border: 1px solid $light-brown;
        }
      }
    }
  }

  div.pure-u-1pure-u-lg-1-2#right{
    padding-left: 50px;
    padding-top: 100px;
    div.titre{
      width: 520px;
      background-color: #DD8496;
      padding: 3px;
      height: 80px;
      border-radius: 3px;
      justify-content: flex-start;
      h3 {
        padding-left: 30px;
        font-family: $primary-font;
        font-size: 25px;
      }
    }
    div.ligne{
      display: flex;
      img{
        width:40px;
        height: 40px;
        padding: 30px 5px 5px 15px;
      }
      span{
        margin-top: 42px;
        font-size: 13px;
      }
    }
    div.ligne2{
      display: flex;
      img{
        width:30px;
        height: 30px;
        padding: 10px 5px 5px 20px;
      }
      span{
        margin-top: 17px;
        margin-left: 5px;
        font-size: 13px;
      }
    }
    div.ligne3{
      display: flex;
      img{
        width:40px;
        height: 40px;
        padding: 10px 5px 5px 15px;
      }
      span{
        margin-top: 22px;
        font-size: 13px;
      }
    }
    div.petit{
      padding-top: 15px;
      padding-right: 350px;
      span.matiere{
        display:flex;
        align-items: flex-end;
        flex-direction: column;
      }
      span.quantite{
        font-size: 14px;
        margin-top: 15px;
      }
      input{
        width:20px;
        height: 20px;
        margin-left: 5px;
        margin-top: 15px;
      }
      span.price{
        background-color: #FAFAFA;
        margin: 15px -5px -5px 210px;
        font-size: 15px;
        padding: 7px 10px;
      }
      button.pure-button#button_panier{
        background-color: #FAFAFA;
        font-size: 15px;
        padding: 7px 10px;
        margin-bottom: 5px;
      }
    }
  }
}

@media screen and (max-width:1024px){
  body{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  div.pure-g#top{
    div.pure-u-1pure-u-lg-1-2#left{
      margin: 50px 0px 0px 0px;
      padding: 0;
      justify-content: center;
      img.pure-u-3-4#grande{
        width:445px;
        height: 445px;
      }
      div.pure-g#goutière{
        div.pure-u-1-4#petites_images{
          width: 155px;
          img.petite{
            width:142px;
            height: 142px;
            }
          }
      }
    }
    div.pure-u-1pure-u-lg-1-2#right{
      margin: 0px auto;
      width: 550px;
      justify-content: center;
      div.petit{
        width: 490px;
      }
    }
  }
}
