.screen2{
  height: 100vh;
}

.screen2{
  .topbar{
    width: 83%;
    margin: 30px auto;
    span{
      font-size: 1.5rem;
      font-family: $primary-font;
      color: $light-pink;
    }
    .logo a{
      display: block;
      background: url(../images/logo.png);
      background-size: auto 97px;
      background-repeat: no-repeat;
      height: 91px;
    }
    .centered{
      p{
        margin:0;
      }
      padding-top: 2.5%;
      display: flex;
      justify-content: center;
    }
    .icone-client{
      width: 25px;
      height: 25px;
      background: url(../images/people_rose.png);
      background-size: 25px 25px;
      &+a{
        text-decoration: none;
      }
      &+a:hover span{
        color: $light-brown;
      }
    }
    .icone-panier{
      width: 25px;
      height: 25px;
      background: url(../images/panier_rose.png);
      background-size: 25px 25px;
      &+a{
        text-decoration: none;
      }
      &+a:hover span{
        color: $light-brown;
      }
    }
    .social{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      .fb a{
        display: block;
        margin: 0 10px;
        width: 30px;
        height: 30px;
        background: url(../images/fb_rose.png);
        background-size: 30px 30px;
      }
      .twi a{
        display: block;
        margin: 0 10px;
        width: 30px;
        height: 30px;
        background: url(../images/twitter_rose.png);
        background-size: 30px 30px;
      }
      .insta a{
        display: block;
        margin: 0 10px;
        width: 30px;
        height: 30px;
        background: url(../images/insta_rose.png);
        background-size: 30px 30px;
      }
    }

    div{
      text-align: center;
    }
  }
  header {
    ul {
      margin: 0 auto;
      width: 95%;
      padding: 0;
      font-size: 1.5rem;
      position: relative;
      li{
        list-style: none;
        text-align: center;
        padding-bottom: 5px;
        a{
          font-family: $primary-font;
          text-decoration: none;
          color: $light-pink;
        }
        a.color-active{
          color: $light-brown;
        }
        .sub-menu{
          background: $white;
          width: 100%;
          position: absolute;
          left: -2.5%;
          top: 25px;
          border-top: 2px solid $light-brown;
          border-bottom: 1.5px solid $light-brown;
          padding: 70px 2.5vw;
          z-index: 9999;
          display: none;
          &>li{
            margin: 0 30px;
            a{
              font-size: 1.4rem;
            }
          }
        }
      }
      li:hover .sub-menu{
        display: flex;
        justify-content: center;
      }
      li:hover>a{
        color: $light-brown;
      }
    }

  }
  .fixedline{
    border-bottom: 2px solid $light-brown;
    width: 80.6%;
    position: relative;
    left: 13px;
    margin: 0 auto;
  }
}
