.fade-in {

 opacity: 1 \9;
 /*just in case ie*/
 -webkit-animation:fadein ease-in 1;
 -moz-animation:fadein ease-in 1;
 animation:fadein ease-in 1;

 -webkit-animation-fill-mode:forwards;
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;

 -webkit-animation-duration:1s;
 -moz-animation-duration:1s;
 animation-duration:1s;
}


.reassure{

  margin-top: 5vh;
  p, span{
    font-family: $primary-font;
    font-size: 1.5rem;
    color: $light-brown;
    }




  img{
    height: 100px;
    width: auto;
  }

  @keyframes fadein {
    from{opacity: 0;}
    to {opacity: 1;}
  }


 .pure-g{
    position: relative;
    margin: 0 90px;
    @media screen and (max-width: 780px){
      margin: 0;
    }

    div{
      margin: 0 auto;
        p.phrase{
          opacity: 0;
          animation-delay: 1.3s;
          text-align: center;
          font-size: 1.9rem;
        }
      div{
        text-align: center;
      }
    }
    .first{
      opacity: 0;
      animation-delay: 0.3s;
    }
    .second{
      opacity: 0;
      animation-delay: .6s;
    }
    .third{
      opacity: 0;
      animation-delay: .9s;
    }
  }
}
.reassure>div:nth-child(2){
  opacity: 0;
  text-align: center;
  width: 25%;
  margin: 0 auto;
  animation-delay: 1.3s;
  margin-top: 20px;
  @media screen and (max-width: 780px){
    width: 88%;
  }
  a{
    display: block;
    text-decoration: none;
    width: 88%;
    background: $light-brown;
    color: $white;
    border: solid thick $white;
    outline: solid 1px $light-brown;
    margin: 0 auto;
    padding: 5%;
    font-size: 2.5rem;
    transition: all .2s ease-in;
  }
  a:hover{
    transform: scale(1.08);
    }
  }
