header{
  border-bottom: solid 2px $light-pink;

}
  .topbar{
    width: 83%;
    margin: 0 auto;
    margin-bottom: 30px;
    span{
      font-size: 1.7rem;
      font-family: $primary-font;
      color: $light-pink;
    }
    .logo a{
      display: block;
      background: url(../images/logo.png);
      background-size: auto 97px;
      background-repeat: no-repeat;
      height: 91px;
      @media screen and (max-width: 780px){
        background-position: center;
        background-size: auto 115%;
      }
      @media screen and(max-width: 400px){
        background-size: auto 80%;
      }
    }
    .centered{
      p{
        margin:0;
      }
      padding-top: 2.5%;
      display: flex;
      justify-content: center;
    }
    .icone-client{
      width: 25px;
      height: 25px;
      background: url(../images/people_rose.png);
      background-size: 25px 25px;
      &+a{
        text-decoration: none;
      }
      &+a:hover span{
        color: $light-brown;
      }
    }
    .icone-panier{
      width: 25px;
      height: 25px;
      background: url(../images/panier_rose.png);
      background-size: 25px 25px;
      &+a{
        text-decoration: none;
      }
      &+a:hover span{
        color: $light-brown;
      }
    }
    .social{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      @media screen and (max-width: 780px){
        justify-content: center;
      }
      .fb a{
        display: block;
        margin: 0 10px;
        width: 30px;
        height: 30px;
        background: url(../images/fb_rose.png);
        background-size: 30px 30px;
      }
      .twi a{
        display: block;
        margin: 0 10px;
        width: 30px;
        height: 30px;
        background: url(../images/twitter_rose.png);
        background-size: 30px 30px;
      }
      .insta a{
        display: block;
        margin: 0 10px;
        width: 30px;
        height: 30px;
        background: url(../images/insta_rose.png);
        background-size: 30px 30px;
      }
    }

    div{
      text-align: center;
    }
  }
  header {
    position: relative;
    ul {
      margin: 0 auto;
      width: 90.5%;
      padding: 0;
      font-size: 2rem;

      li{
        list-style: none;
        text-align: center;
        a{
          font-family: $primary-font;
          text-decoration: none;
          color: $light-pink;
          display: block;
          background: $white;
          width: 80%;
          padding: 5px 0;
          margin: 0 auto;
        }
        a.color-active{
          color: $white;
          background: $light-pink;
        }
        .sub-menu{
          background: $white;
          width: 100%;
          position: absolute;
          left: 0;
          top: 98%;
          border-top: 2px solid $light-pink;
          border-bottom: 1.5px solid $light-pink;
          padding: 70px 2.5vw;
          z-index: 9999;
          display: none;
          @media screen and (max-width: 800px){
            position: static;
            width: 80%;
            border: 1px solid $light-pink;
            padding: 0;
            a{
              background: none;
            }
          }
          &>li{
            margin: 0 30px;
            a{
              font-size: 1.7rem;
              font-family: $primary-font;
              text-decoration: none;
              color: $light-pink;
              display: inline;
            }
            a:hover{
              color: $light-brown;
              background: $white;
            }
          }
        }
      }
      li:hover .sub-menu{
        display: flex;
        justify-content: center;
        @media screen and (max-width: 800px){
          flex-direction: column;
        }
      }
      li:hover>a{
        color: $white;
        background: $light-pink;
      }
    }

  }
  .fixedline{
    border-bottom: 2px solid $light-brown;
    width: 80.6%;
    position: relative;
    left: 13px;
    margin: 0 auto;
  }

//

// Made by Erik Terwan
// 24th of November 2015
// All rights reserved

// Menu Hamburger //


//

@media screen and (max-width: 2000px) {
  input {
    display: none;
  }
}

@media screen and (max-width: 415px) {
  a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

.menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

.menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
.menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
.menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */

.menu
{
  position: absolute;
  width: 314px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
.menuToggle input:checked ~ ul
{
  transform: none;
}
}

@media screen and (max-width: 375px) {
  .menu {
    width: 275px;
  }
}
