@charset "UTF-8";
html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Della Respira", serif;
  background: white; }

html, button, input, select, textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: "Della Respira", serif; }

.screen1 h1 {
  display: none; }
.screen1 .logo {
  background: url(../images/logo.png);
  width: 544px;
  height: 115px;
  margin: 10px auto; }

.fade-in {
  opacity: 1 \9;
  /*just in case ie*/
  -webkit-animation: fadein ease-in 1;
  -moz-animation: fadein ease-in 1;
  animation: fadein ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s; }

.screen1 {
  position: relative;
  z-index: 1; }
  .screen1 main {
    margin-top: 5vh; }
    .screen1 main p, .screen1 main span {
      font-family: "Della Respira", serif;
      font-size: 1.5rem;
      color: #997C6C; }
  .screen1 img {
    height: 100px;
    width: auto; }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .screen1 .pure-g {
    position: relative;
    margin: 0 90px; }
    @media screen and (max-width: 780px) {
      .screen1 .pure-g {
        margin: 0; } }
    .screen1 .pure-g div {
      margin: 0 auto; }
      .screen1 .pure-g div p.phrase {
        opacity: 0;
        animation-delay: 1.3s;
        text-align: center;
        font-size: 1.9rem; }
      .screen1 .pure-g div div {
        text-align: center; }
    .screen1 .pure-g .first {
      opacity: 0;
      animation-delay: 0.3s; }
    .screen1 .pure-g .second {
      opacity: 0;
      animation-delay: .6s; }
    .screen1 .pure-g .third {
      opacity: 0;
      animation-delay: .9s; }
  .screen1 main > div:nth-child(2) {
    opacity: 0;
    text-align: center;
    width: 25%;
    margin: 0 auto;
    animation-delay: 1.3s;
    margin-top: 20px; }
    @media screen and (max-width: 780px) {
      .screen1 main > div:nth-child(2) {
        width: 88%; } }
    .screen1 main > div:nth-child(2) a {
      display: block;
      text-decoration: none;
      width: 88%;
      background: #997C6C;
      color: white;
      border: solid thick white;
      outline: solid 1px #997C6C;
      margin: 0 auto;
      padding: 5%;
      font-size: 2.5rem;
      transition: all .2s ease-in; }
    .screen1 main > div:nth-child(2) a:hover {
      transform: scale(1.08); }
  .screen1 .line1 {
    position: absolute;
    left: 15.5%;
    top: 30%;
    height: 2px;
    background: #997C6C;
    animation: move 1s 1 linear forwards;
    animation-delay: 0.3s; }
  .screen1 .line2 {
    position: absolute;
    left: 41%;
    top: 30%;
    height: 2px;
    background: #997C6C;
    animation: move 1s 1 linear forwards;
    animation-delay: 1.3s; }
  .screen1 .line3 {
    position: absolute;
    left: 65.6%;
    top: 30%;
    height: 2px;
    background: #997C6C;
    animation: move3 1.7s 1 linear forwards;
    animation-delay: 2.3s; }
  .screen1 .arrow-top {
    position: absolute;
    left: 94.5%;
    top: 26%;
    height: 1.5px;
    background: #997C6C;
    transform: rotate(35deg);
    animation: arrowmove 1s 1 linear forwards;
    animation-delay: 4s; }
  .screen1 .arrow-bottom {
    position: absolute;
    left: 94.5%;
    top: 34.5%;
    height: 1.5px;
    background: #997C6C;
    transform: rotate(-35deg);
    animation: arrowmove 1s 1 linear forwards;
    animation-delay: 4s; }
  .screen1 .vert1 {
    position: absolute;
    left: 12.5%;
    top: 57%;
    width: 2px;
    background: #997C6C;
    animation: movevert1 0.3s 1 linear forwards;
    animation-delay: 0.3s; }
  .screen1 .vert2 {
    position: absolute;
    left: 12.5%;
    top: 91%;
    width: 2px;
    background: #997C6C;
    animation: movevert2 0.8s 1 linear forwards;
    animation-delay: 0.8s; }
  .screen1 .line5 {
    position: absolute;
    left: 12.5%;
    top: 191%;
    height: 2px;
    background: #997C6C;
    animation: moveline5 1s 1 linear forwards;
    animation-delay: 1.8s; }
  .screen1 .vert3 {
    position: absolute;
    left: 50%;
    top: 191%;
    width: 2px;
    background: #997C6C;
    animation: movevert3 1s 1 linear forwards;
    animation-delay: 2.8s; }
  .screen1 .product {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 14.5%;
    animation-delay: 2.4s; }
    .screen1 .product a {
      color: #997C6C;
      text-decoration: none; }
  .screen1 .arrow-left {
    position: absolute;
    left: 48.85%;
    top: 231%;
    height: 1.5px;
    background: #997C6C;
    transform: rotate(55deg);
    animation: arrowmove 1s 1 linear forwards;
    animation-delay: 4s; }
  .screen1 .arrow-right {
    position: absolute;
    left: 49.75%;
    top: 231%;
    height: 1.5px;
    background: #997C6C;
    transform: rotate(-55deg);
    animation: arrowmove 1s 1 linear forwards;
    animation-delay: 4s; }
@keyframes moveline5 {
  from {
    width: 0; }
  to {
    width: 37.5%; } }
@keyframes movevert1 {
  from {
    height: 0; }
  to {
    height: 20%; } }
@keyframes movevert2 {
  from {
    height: 0; }
  to {
    height: 100%; } }
@keyframes movevert3 {
  from {
    height: 0; }
  to {
    height: 40%; } }
@keyframes arrowmove {
  from {
    width: 0; }
  to {
    width: 1.6%; } }
@keyframes move {
  0% {
    width: 0; }
  100% {
    width: 18.5%; } }
@keyframes move3 {
  0% {
    width: 0; }
  100% {
    width: 30%; } }
header {
  border-bottom: solid 2px #DD8496; }

.topbar {
  width: 83%;
  margin: 0 auto;
  margin-bottom: 30px; }
  .topbar span {
    font-size: 1.7rem;
    font-family: "Della Respira", serif;
    color: #DD8496; }
  .topbar .logo a {
    display: block;
    background: url(../images/logo.png);
    background-size: auto 97px;
    background-repeat: no-repeat;
    height: 91px; }
    @media screen and (max-width: 780px) {
      .topbar .logo a {
        background-position: center;
        background-size: auto 115%; } }
    @media screen and (max-width: 400px) {
      .topbar .logo a {
        background-size: auto 80%; } }
  .topbar .centered {
    padding-top: 2.5%;
    display: flex;
    justify-content: center; }
    .topbar .centered p {
      margin: 0; }
  .topbar .icone-client {
    width: 25px;
    height: 25px;
    background: url(../images/people_rose.png);
    background-size: 25px 25px; }
    .topbar .icone-client + a {
      text-decoration: none; }
    .topbar .icone-client + a:hover span {
      color: #997C6C; }
  .topbar .icone-panier {
    width: 25px;
    height: 25px;
    background: url(../images/panier_rose.png);
    background-size: 25px 25px; }
    .topbar .icone-panier + a {
      text-decoration: none; }
    .topbar .icone-panier + a:hover span {
      color: #997C6C; }
  .topbar .social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    @media screen and (max-width: 780px) {
      .topbar .social {
        justify-content: center; } }
    .topbar .social .fb a {
      display: block;
      margin: 0 10px;
      width: 30px;
      height: 30px;
      background: url(../images/fb_rose.png);
      background-size: 30px 30px; }
    .topbar .social .twi a {
      display: block;
      margin: 0 10px;
      width: 30px;
      height: 30px;
      background: url(../images/twitter_rose.png);
      background-size: 30px 30px; }
    .topbar .social .insta a {
      display: block;
      margin: 0 10px;
      width: 30px;
      height: 30px;
      background: url(../images/insta_rose.png);
      background-size: 30px 30px; }
  .topbar div {
    text-align: center; }

header {
  position: relative; }
  header ul {
    margin: 0 auto;
    width: 90.5%;
    padding: 0;
    font-size: 2rem; }
    header ul li {
      list-style: none;
      text-align: center; }
      header ul li a {
        font-family: "Della Respira", serif;
        text-decoration: none;
        color: #DD8496;
        display: block;
        background: white;
        width: 80%;
        padding: 5px 0;
        margin: 0 auto; }
      header ul li a.color-active {
        color: white;
        background: #DD8496; }
      header ul li .sub-menu {
        background: white;
        width: 100%;
        position: absolute;
        left: 0;
        top: 98%;
        border-top: 2px solid #DD8496;
        border-bottom: 1.5px solid #DD8496;
        padding: 70px 2.5vw;
        z-index: 9999;
        display: none; }
        @media screen and (max-width: 800px) {
          header ul li .sub-menu {
            position: static;
            width: 80%;
            border: 1px solid #DD8496;
            padding: 0; }
            header ul li .sub-menu a {
              background: none; } }
        header ul li .sub-menu > li {
          margin: 0 30px; }
          header ul li .sub-menu > li a {
            font-size: 1.7rem;
            font-family: "Della Respira", serif;
            text-decoration: none;
            color: #DD8496;
            display: inline; }
          header ul li .sub-menu > li a:hover {
            color: #997C6C;
            background: white; }
    header ul li:hover .sub-menu {
      display: flex;
      justify-content: center; }
      @media screen and (max-width: 800px) {
        header ul li:hover .sub-menu {
          flex-direction: column; } }
    header ul li:hover > a {
      color: white;
      background: #DD8496; }

.fixedline {
  border-bottom: 2px solid #997C6C;
  width: 80.6%;
  position: relative;
  left: 13px;
  margin: 0 auto; }

.screen2 main {
  margin-top: 50px; }

.slider {
  position: relative; }
  .slider .slider-arrow-left {
    width: 40px;
    height: 40px;
    background: url(../images/triangle_rose.png);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    transform: translateY(-50%) rotate(-90deg);
    position: absolute;
    left: 14%;
    top: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in; }
    @media screen and (max-width: 800px) {
      .slider .slider-arrow-left {
        display: none; } }
  .slider .slider-arrow-left:hover {
    transform: scale(1.5) translateY(-50%) rotate(-90deg); }
  .slider .slider-arrow-right {
    width: 40px;
    height: 40px;
    background: url(../images/triangle_rose.png);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    transform: translateY(-50%) rotate(90deg);
    position: absolute;
    right: 14%;
    top: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in; }
    @media screen and (max-width: 800px) {
      .slider .slider-arrow-right {
        display: none; } }
  .slider .slider-arrow-right:hover {
    transform: scale(1.5) translateY(-50%) rotate(90deg); }
  .slider .slider-index {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3vh;
    display: flex; }
    .slider .slider-index div {
      margin: 0 10px;
      width: 7px;
      height: 7px;
      border: 1.5px solid #DD8496;
      border-radius: 100%; }

.pink-background {
  background: #DD8496; }

.slider-content {
  max-width: 100%;
  height: 52vh;
  margin: 0 auto;
  overflow: hidden;
  display: flex; }
  @media screen and (max-width: 800px) {
    .slider-content {
      height: auto; } }
  .slider-content div {
    width: 100%;
    position: relative;
    transition: all ease-in .75s; }
    .slider-content div img {
      width: 100vw; }
    .slider-content div img.slider-last {
      transform: translateY(-26%); }
      @media screen and (max-width: 800px) {
        .slider-content div img.slider-last {
          transform: none; } }
    .slider-content div a {
      display: block;
      border: solid 3px white;
      outline: solid 1.5px #DD8496;
      width: 25%;
      height: 10%;
      background: #DD8496;
      text-decoration: none;
      font-family: "Della Respira", serif;
      font-size: 1.7rem;
      color: white;
      position: absolute;
      right: 20px;
      bottom: 10px;
      text-align: center;
      line-height: 200%;
      transition: all 0.2s ease-in;
      padding: 5px; }
      @media screen and (min-width: 415px) and (max-width: 800px) {
        .slider-content div a {
          width: 40%; } }
      @media screen and (max-width: 415px) {
        .slider-content div a {
          width: 90%;
          height: 20%; } }
    .slider-content div a:hover {
      transform: scale(1.08); }

.homepage-products {
  margin-top: 75px; }
  .homepage-products > div {
    margin: 0 10vw; }
    .homepage-products > div h2 {
      border-bottom: 10px solid #DD8496;
      padding-bottom: 8px;
      width: 90%;
      text-transform: uppercase;
      color: #DD8496;
      font-family: "Della Respira", serif;
      font-size: 1.8rem;
      opacity: 0.5;
      cursor: pointer; }
    .homepage-products > div h2.selected {
      opacity: 1; }
  .homepage-products .product-container {
    position: relative; }
  .homepage-products .homepage-products-row {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 20px; }
    .homepage-products .homepage-products-row > div {
      text-align: center;
      opacity: 0; }
    .homepage-products .homepage-products-row img {
      max-width: 90%;
      height: auto;
      border: solid 1px black; }
    .homepage-products .homepage-products-row p {
      font-family: Arial, sans-serif;
      font-size: 1.7rem; }
@keyframes fadeIN {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .homepage-products .show div {
    animation: fadeIN 1s 1 linear forwards; }

.grid {
  font-size: 62.5%;
  position: relative; }

.titre {
  display: flex;
  justify-content: center;
  height: 176px;
  margin-top: 50px; }

.titre p {
  font-size: 4rem;
  color: #de8496;
  margin-bottom: 2vh; }

.trait1 {
  top: 182px;
  height: 1px;
  background-color: black;
  width: 250px;
  position: absolute;
  z-index: 1; }

.trait2 {
  top: 182px;
  left: 250px;
  height: 811px;
  background-color: black;
  width: 1px;
  position: absolute;
  z-index: 1; }

.trait3 {
  top: 992px;
  height: 1px;
  background-color: black;
  width: 250px;
  position: absolute;
  z-index: 1; }

.bullet {
  display: flex;
  margin-left: 15vh;
  margin-top: 7px;
  margin-right: 15vh;
  z-index: 2;
  background-color: #fafafa; }

.image img {
  height: 10rem;
  width: 10rem;
  margin: 30px 10vh; }

.description_image {
  font-size: 1.8rem; }

.image {
  width: auto;
  z-index: 3; }

.text {
  width: 65%;
  display: flex;
  height: 162px; }

.text p {
  display: flex;
  align-items: center; }

.espace {
  width: 100%;
  height: 10vh;
  background-color: white; }

.philosophie {
  letter-spacing: normal;
  background-color: #fafafa;
  margin-left: 15vh;
  margin-right: 15vh;
  text-align: justify;
  height: 100vh; }

.title_crea {
  height: 10vh;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  margin-left: 15vh;
  margin-right: 15vh; }

.title_crea p {
  margin-top: 10vh;
  font-size: 2.8rem;
  color: #de8496;
  margin-left: auto;
  margin-right: auto; }

.a_propos h2 {
  font-size: 1.6rem;
  margin-left: 5vh; }

#a_propos {
  padding-top: 2vh;
  font-size: 1.6rem;
  margin-left: 5vh;
  margin-right: 5vh;
  line-height: 2.3rem; }

.creatrice {
  height: 30vh;
  width: 100%;
  margin-top: 10vh;
  display: flex;
  justify-content: center; }

.descriptif_crea {
  height: 100px;
  display: flex;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

#descriptif_crea {
  font-size: 1.4rem;
  margin-left: auto;
  margin-right: auto; }

.creatrice img {
  height: 25vh;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto; }

#parcours {
  padding-top: 2vh;
  font-size: 1.6rem;
  margin-left: 5vh;
  margin-right: 5vh;
  line-height: 2.3rem; }

.parcours h2 {
  font-size: 1.6rem;
  margin-left: 5vh; }

.discover_products a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: auto;
  background: #997C6C;
  color: white;
  border: solid thick white;
  outline: solid 1px #997C6C;
  margin: 0 auto;
  padding: 5%;
  font-size: 2.5rem; }

.discover_products {
  margin-top: 50px;
  transition: all .2s ease-in;
  width: 300px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto; }

.discover_products:hover {
  transform: scale(1.08); }

@media only screen and (max-width: 1280px) {
  .trait1 {
    display: none; }

  .trait2 {
    display: none; }

  .trait3 {
    display: none; }

  .bullet {
    width: auto;
    margin-left: -5vh;
    margin-right: 0vh; }

  .image img {
    height: 10rem;
    width: 10rem;
    display: flex;
    justify-content: center; }

  .image {
    width: auto;
    z-index: 3; }

  .text {
    width: 65%; }

  .description_image {
    font-size: 1.8rem;
    width: 100%;
    display: flex;
    justify-content: center; }

  .description_image p {
    font-size: 1.8rem;
    width: 100%;
    display: flex;
    align-items: center; }

  .philosophie {
    letter-spacing: normal;
    background-color: #fafafa;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 42px;
    text-align: justify;
    height: auto; }

  .title_crea {
    height: 10vh;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px; }

  .logo-white {
    display: none; } }
@media only screen and (max-device-width: 769px) {
  .trait1 {
    display: none; }

  .trait2 {
    display: none; }

  .trait3 {
    display: none; }

  .bullet {
    width: auto;
    height: auto;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    background: #fafafa; }

  .image {
    width: 100%;
    display: flex;
    height: 100px; }

  .image img {
    height: 10rem;
    width: 10rem;
    margin-bottom: -3vh;
    margin-left: auto;
    margin-right: auto; }

  .text {
    width: 100%;
    display: flex;
    height: 300px;
    text-align: center; }

  .description_image {
    font-size: 1.8rem;
    width: 100%;
    display: flex; }

  .description_image p {
    font-size: 1.8rem;
    width: 100%;
    display: flex;
    align-items: center; }

  .text p {
    display: flex;
    align-items: center; }

  .philosophie {
    letter-spacing: normal;
    background-color: #fafafa;
    margin-left: 2px;
    margin-right: 2px;
    text-align: justify;
    height: 145vh; }

  .title_crea {
    height: 10vh;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    margin-left: 2px;
    margin-right: 2px; } }
@media only screen and (max-width: 780px) {
  .trait1 {
    display: none; }

  .trait2 {
    display: none; }

  .trait3 {
    display: none; }

  .bullet {
    width: auto;
    height: auto;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    background: #fafafa; }

  .image {
    width: 100%;
    display: flex;
    height: 100px; }

  .image img {
    height: 10rem;
    width: 10rem;
    margin-bottom: -3vh;
    margin-left: auto;
    margin-right: auto; }

  .text {
    width: 100%;
    display: flex;
    height: 300px; }

  .description_image {
    font-size: 1.8rem;
    margin-left: 2vh;
    margin-right: 2vh;
    width: 100%; }

  .description_image p {
    text-align: center;
    width: auto; }

  .text p {
    display: flex;
    align-items: center; }

  .philosophie {
    letter-spacing: normal;
    background-color: #fafafa;
    margin-left: 2px;
    margin-right: 2px;
    text-align: justify;
    height: auto; }

  .title_crea {
    height: 10vh;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    margin-left: 2px;
    margin-right: 2px; } }
div.pure-g#top {
  letter-spacing: normal;
  display: flex;
  justify-content: center; }
  div.pure-g#top div.pure-u-1pure-u-lg-1-2#left {
    padding: 100px 0px 0px 115px;
    display: flex; }
    div.pure-g#top div.pure-u-1pure-u-lg-1-2#left img.pure-u-3-4#grande {
      width: 345px;
      height: 345px;
      border: 1px solid #997C6C; }
    div.pure-g#top div.pure-u-1pure-u-lg-1-2#left div.pure-g#goutière {
      padding: 0;
      margin: 50px 0px 0px 0px; }
      div.pure-g#top div.pure-u-1pure-u-lg-1-2#left div.pure-g#goutière div#petites_images {
        margin: 0px 20px 0px 0px;
        flex-direction: column;
        width: 105px; }
        div.pure-g#top div.pure-u-1pure-u-lg-1-2#left div.pure-g#goutière div#petites_images img.petite {
          width: 109px;
          height: 109px;
          margin-bottom: 5px;
          border: 1px solid #997C6C; }
  div.pure-g#top div.pure-u-1pure-u-lg-1-2#right {
    padding-left: 50px;
    padding-top: 100px; }
    div.pure-g#top div.pure-u-1pure-u-lg-1-2#right div.titre {
      width: 520px;
      background-color: #EFC4CB;
      padding: 3px;
      height: 80px;
      border-radius: 3px;
      justify-content: flex-start; }
      div.pure-g#top div.pure-u-1pure-u-lg-1-2#right div.titre h3 {
        padding-left: 30px;
        font-family: "Della Respira", serif;
        font-size: 25px;
        font-weight: lighter; }
    div.pure-g#top div.pure-u-1pure-u-lg-1-2#right p {
      font-size: 14px;
      text-align: left;
      margin: 50px 60px;
      width: 400px; }
    div.pure-g#top div.pure-u-1pure-u-lg-1-2#right div.petit {
      padding-top: 15px;
      padding-right: 100px; }
      div.pure-g#top div.pure-u-1pure-u-lg-1-2#right div.petit span.matiere {
        display: flex;
        align-items: flex-end;
        flex-direction: column; }
      div.pure-g#top div.pure-u-1pure-u-lg-1-2#right div.petit span.quantite {
        font-size: 14px;
        margin-top: 15px;
        margin-left: 30px; }
      div.pure-g#top div.pure-u-1pure-u-lg-1-2#right div.petit input {
        width: 30px;
        height: 20px;
        margin-left: 5px;
        margin-top: 15px; }
      div.pure-g#top div.pure-u-1pure-u-lg-1-2#right div.petit span.price {
        background-color: #FAFAFA;
        margin: 15px -5px -5px 210px;
        font-size: 15px;
        padding: 7px 10px; }
      div.pure-g#top div.pure-u-1pure-u-lg-1-2#right div.petit button.pure-button#button_panier {
        background-color: #FAFAFA;
        font-size: 15px;
        padding: 7px 10px;
        margin-bottom: 5px; }

@media screen and (max-width: 1024px) {
  body {
    width: 100%;
    margin: 0;
    padding: 0; }

  div.pure-g#top div.pure-u-1pure-u-lg-1-2#left {
    margin: 50px 0px 0px 0px;
    padding: 0;
    justify-content: center; }
    div.pure-g#top div.pure-u-1pure-u-lg-1-2#left img.pure-u-3-4#grande {
      width: 560px;
      height: 560px; }
    div.pure-g#top div.pure-u-1pure-u-lg-1-2#left div.pure-g#goutière div.pure-u-1-4#petites_images {
      width: 185px; }
      div.pure-g#top div.pure-u-1pure-u-lg-1-2#left div.pure-g#goutière div.pure-u-1-4#petites_images img.petite {
        width: 180px;
        height: 180px; }
  div.pure-g#top div.pure-u-1pure-u-lg-1-2#right {
    margin: 0px auto;
    justify-content: center;
    display: flex;
    flex-direction: column; }
    div.pure-g#top div.pure-u-1pure-u-lg-1-2#right div.titre {
      margin-bottom: 30px;
      height: 120px;
      margin-left: 150px; }
      div.pure-g#top div.pure-u-1pure-u-lg-1-2#right div.titre h3 {
        font-size: 40px; }
    div.pure-g#top div.pure-u-1pure-u-lg-1-2#right p {
      font-size: 32px;
      margin-right: 150px;
      width: 450px;
      justify-content: center; }
    div.pure-g#top div.pure-u-1pure-u-lg-1-2#right div.petit {
      font-size: 25px;
      width: 740px;
      margin-left: 40px; }
      div.pure-g#top div.pure-u-1pure-u-lg-1-2#right div.petit span.quantite {
        font-size: 25px; }
      div.pure-g#top div.pure-u-1pure-u-lg-1-2#right div.petit span.price {
        font-size: 25px; }
      div.pure-g#top div.pure-u-1pure-u-lg-1-2#right div.petit input {
        font-size: 25px;
        height: 40px;
        width: 40px; }
      div.pure-g#top div.pure-u-1pure-u-lg-1-2#right div.petit button.pure-button#button_panier {
        font-size: 25px; } }
div.pure-g#middle {
  padding-top: 100px; }
  div.pure-g#middle div.pure-u-5-8#description {
    background-color: #FAFAFA;
    border: #DD8496 1px solid;
    opacity: 0.6;
    text-align: center;
    margin: auto;
    border-radius: 3px;
    padding-top: 0px;
    display: flex;
    flex-direction: row; }
    div.pure-g#middle div.pure-u-5-8#description h3 {
      font-family: "Della Respira", serif;
      font-size: 22px;
      justify-content: center;
      margin-left: 15px; }
    div.pure-g#middle div.pure-u-5-8#description div.ligne {
      display: flex;
      margin-left: 50px; }
      div.pure-g#middle div.pure-u-5-8#description div.ligne img {
        width: 40px;
        height: 40px;
        padding: 20px 5px 10px 15px; }
      div.pure-g#middle div.pure-u-5-8#description div.ligne span {
        margin-top: 32px;
        font-size: 13px; }
    div.pure-g#middle div.pure-u-5-8#description div.ligne2 {
      display: flex;
      margin-left: 50px; }
      div.pure-g#middle div.pure-u-5-8#description div.ligne2 img {
        width: 30px;
        height: 30px;
        padding: 25px 5px 5px 20px; }
      div.pure-g#middle div.pure-u-5-8#description div.ligne2 span {
        margin-top: 32px;
        margin-left: 5px;
        font-size: 13px; }
    div.pure-g#middle div.pure-u-5-8#description div.ligne3 {
      display: flex;
      margin-left: 50px; }
      div.pure-g#middle div.pure-u-5-8#description div.ligne3 img {
        width: 40px;
        height: 40px;
        padding: 20px 5px 5px 15px; }
      div.pure-g#middle div.pure-u-5-8#description div.ligne3 span {
        margin-top: 32px;
        font-size: 13px; }
  div.pure-g#middle div.pure-u-5-8#garantie_details {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    div.pure-g#middle div.pure-u-5-8#garantie_details div.pure-u-1-3#détails_entretien {
      background-color: #FAFAFA;
      margin: 70px 0px 0px 0px;
      border: #DD8496 1px solid;
      opacity: 0.6;
      height: 173px;
      border-radius: 3px;
      width: 450px; }
      div.pure-g#middle div.pure-u-5-8#garantie_details div.pure-u-1-3#détails_entretien h3 {
        font-family: "Della Respira", serif;
        font-size: 22px; }
      div.pure-g#middle div.pure-u-5-8#garantie_details div.pure-u-1-3#détails_entretien p {
        font-size: 17px;
        text-align: left;
        margin: 30px 60px; }
    div.pure-g#middle div.pure-u-5-8#garantie_details div.pure-u-1-3#garantie {
      background-color: #FAFAFA;
      margin: 70px 0px 0px 0px;
      height: 173px;
      border: #DD8496 1px solid;
      opacity: 0.6;
      border-radius: 3px;
      width: 450px; }
      div.pure-g#middle div.pure-u-5-8#garantie_details div.pure-u-1-3#garantie h3 {
        font-family: "Della Respira", serif;
        font-size: 22px; }
      div.pure-g#middle div.pure-u-5-8#garantie_details div.pure-u-1-3#garantie p {
        font-size: 17px;
        text-align: left;
        margin: 40px 60px 30px 60px; }

@media screen and (max-width: 1024px) {
  div.pure-g#middle div.pure-u-5-8#description {
    width: 100%;
    margin: 50px 0px 0px 0px;
    display: flex;
    flex-direction: column; }
    div.pure-g#middle div.pure-u-5-8#description h3 {
      font-size: 45px; }
    div.pure-g#middle div.pure-u-5-8#description div.ligne {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0; }
      div.pure-g#middle div.pure-u-5-8#description div.ligne img {
        width: 140px;
        height: 140px; }
      div.pure-g#middle div.pure-u-5-8#description div.ligne span {
        font-size: 30px; }
    div.pure-g#middle div.pure-u-5-8#description div.ligne2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0; }
      div.pure-g#middle div.pure-u-5-8#description div.ligne2 span {
        font-size: 30px; }
      div.pure-g#middle div.pure-u-5-8#description div.ligne2 img {
        width: 130px;
        height: 130px; }
    div.pure-g#middle div.pure-u-5-8#description div.ligne3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0; }
      div.pure-g#middle div.pure-u-5-8#description div.ligne3 span {
        font-size: 30px;
        margin-bottom: 20px; }
      div.pure-g#middle div.pure-u-5-8#description div.ligne3 img {
        width: 160px;
        height: 160px; }
  div.pure-g#middle div.pure-u-5-8#garantie_details {
    margin: 0;
    width: 100%;
    display: block; }
    div.pure-g#middle div.pure-u-5-8#garantie_details div.pure-u-1-3#garantie {
      width: 100%;
      justify-content: center;
      margin: 50px 0px 0px 0px;
      height: auto; }
      div.pure-g#middle div.pure-u-5-8#garantie_details div.pure-u-1-3#garantie h3 {
        font-size: 45px; }
      div.pure-g#middle div.pure-u-5-8#garantie_details div.pure-u-1-3#garantie p {
        font-size: 30px;
        padding: 0px 20px;
        text-align: center; }
    div.pure-g#middle div.pure-u-5-8#garantie_details div.pure-u-1-3#détails_entretien {
      width: 100%;
      margin: 50px 0px 0px 0px;
      height: auto; }
      div.pure-g#middle div.pure-u-5-8#garantie_details div.pure-u-1-3#détails_entretien h3 {
        font-size: 45px; }
      div.pure-g#middle div.pure-u-5-8#garantie_details div.pure-u-1-3#détails_entretien p {
        padding: 0px 20px;
        text-align: center;
        font-size: 30px; } }
div.decouvrez h4 {
  text-align: center;
  font-size: 22px;
  margin-top: 60px; }

div.pure-g#bottom {
  display: flex;
  justify-content: center;
  position: relative; }
  div.pure-g#bottom div.pure-u-5-8#first {
    margin-top: 40px;
    display: flex;
    justify-content: space-around; }
    div.pure-g#bottom div.pure-u-5-8#first div.pure-u-1-8 img {
      width: 160px;
      height: 160px; }
  div.pure-g#bottom div.pure-u-5-8#second {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 0; }
    div.pure-g#bottom div.pure-u-5-8#second div.pure-u-1-8 img {
      width: 160px;
      height: 160px; }
  div.pure-g#bottom div.pure-u-5-8#third {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 0; }
    div.pure-g#bottom div.pure-u-5-8#third div.pure-u-1-8 img {
      width: 160px;
      height: 160px; }

div.pure-g#footer {
  margin-top: 70px; }

footer {
  margin-top: 50px;
  width: 100%;
  background: #DD8496;
  color: white;
  font-size: 1.6rem; }
  footer > div {
    margin: 0 10%;
    padding: 2% 0; }
    footer > div div:first-child {
      text-align: center; }
      footer > div div:first-child p {
        margin: 2% 0; }
      footer > div div:first-child form {
        margin-top: 4%; }
      footer > div div:first-child button {
        margin-top: 3%;
        color: black;
        font-family: Arial, sans-serif; }
    footer > div div:nth-child(2), footer > div div:nth-child(4) {
      padding-top: 0.7%; }
    footer > div span {
      padding-left: 13%; }
    footer > div ul {
      padding-left: 13%; }
      footer > div ul li {
        list-style: none; }
        footer > div ul li a {
          color: white;
          text-decoration: none; }
        footer > div ul li a:hover {
          text-decoration: underline; }

.logo-white {
  background: url(../images/logo_blanc.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }
  .logo-white p {
    position: absolute;
    bottom: -25%;
    left: 32%; }
    .logo-white p a {
      color: white;
      text-decoration: none; }
    .logo-white p a:hover {
      text-decoration: underline; }

.last {
  flex-direction: column; }
  .last .info p {
    margin: 5% 0; }
  .last .info p:last-child {
    margin-bottom: 9%; }
  .last .social {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .last .social .fb-white {
      background: url(../images/fb_blanc.png);
      background-size: 30px 30px; }
    .last .social .twi-white {
      background: url(../images/twitter_blanc.png);
      background-size: 30px 30px; }
    .last .social .insta-white {
      background: url(../images/insta_blanc.png);
      background-size: 30px 30px; }
    .last .social a {
      display: block;
      height: 30px;
      width: 30px;
      margin: 0 10px; }

.newsletter input {
  font-family: Arial, sans-serif;
  color: black; }

@media only screen and (max-width: 1280px) and (min-width: 1024px) {
  footer .pure-g {
    width: 100%;
    display: flex;
    justify-content: center; }
  footer > div {
    margin: 0 0%;
    padding: 2% 0; }
    footer > div div:first-child {
      text-align: center;
      margin-right: 100px; }
      footer > div div:first-child p {
        margin: 2% 0; }
      footer > div div:first-child form {
        margin-top: 4%; }
      footer > div div:first-child button {
        margin-top: 3%;
        color: black;
        font-family: Arial, sans-serif; }
    footer > div div:nth-child(2), footer > div div:nth-child(4) {
      padding-top: 0.7%;
      margin-right: 70px; }
    footer > div div:nth-child(5) {
      margin-left: 20px; }

  .last {
    flex-direction: column; }
    .last .info {
      margin-left: 40px; }
      .last .info p {
        margin: 3% 0; }
      .last .info p:first-child {
        margin-left: 20px; }
      .last .info p:last-child {
        margin-bottom: 9%;
        width: 100px; }
    .last .social {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-right: 0px; }
      .last .social .fb-white {
        background: url(../images/fb_blanc.png);
        background-size: 30px 30px; }
      .last .social .twi-white {
        background: url(../images/twitter_blanc.png);
        background-size: 30px 30px; }
      .last .social .insta-white {
        background: url(../images/insta_blanc.png);
        background-size: 30px 30px; }
      .last .social a {
        display: block;
        height: 30px;
        width: 30px;
        margin: 0 10px; } }
@media only screen and (max-width: 1000px) {
  footer {
    width: 100%; }
    footer > div {
      margin: 0 0%;
      padding: 0% 0; }
    footer .pure-g {
      display: flex; }
    footer div:nth-child(1) {
      margin-bottom: 5px; }
    footer div:nth-child(4) {
      width: 49%;
      display: flex;
      flex-direction: column;
      align-items: center; }

  .last {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 150px; }
    .last .info p {
      margin: 0% 0; }
    .last .info p:last-child {
      margin-bottom: 0%; } }
@media only screen and (max-device-width: 769px) {
  footer {
    width: 100%; }
    footer .pure-g {
      width: auto; }
    footer div:nth-child(1) {
      margin-bottom: 40px; } }
@media only screen and (max-device-width: 375px) {
  footer {
    width: 100%; }
    footer .pure-g {
      width: auto; }
    footer div:nth-child(2), footer div:nth-child(4) {
      margin: 0px 0px 40px 70px; }

  .last {
    flex-direction: column; }
    .last .social {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-right: 70px; } }

/*# sourceMappingURL=style.css.map */
