@charset "UTF-8";
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Della Respira", serif;
  background: white; }

.screen1 {
  height: 100vh; }

.screen1 h1 {
  display: none; }

.screen1 .logo {
  background: url(../images/logo.png);
  width: 544px;
  height: 115px;
  margin: 10px auto; }

.screen1 main {
  margin-top: 15vh; }
  .screen1 main p, .screen1 main span {
    font-family: "Della Respira", serif;
    font-size: 1.5rem;
    color: #997C6C; }

.screen1 img {
  height: 100px;
  width: auto; }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.screen1 .fade-in {
  opacity: 0;
  opacity: 1 \9;
  /*just in case ie*/
  -webkit-animation: fadein ease-in 1;
  -moz-animation: fadein ease-in 1;
  animation: fadein ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s; }

.screen1 .pure-g {
  position: relative;
  margin: 0 90px; }
  .screen1 .pure-g div {
    text-align: center; }
  .screen1 .pure-g .first {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  .screen1 .pure-g .second {
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }
  .screen1 .pure-g .third {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s; }
  .screen1 .pure-g .fourth {
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s; }

.screen1 .line1 {
  position: absolute;
  left: 15.5%;
  top: 30%;
  height: 2px;
  background: #997C6C;
  -webkit-animation: move 1s 1 linear forwards;
  animation: move 1s 1 linear forwards;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.screen1 .line2 {
  position: absolute;
  left: 41%;
  top: 30%;
  height: 2px;
  background: #997C6C;
  -webkit-animation: move 1s 1 linear forwards;
  animation: move 1s 1 linear forwards;
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s; }

.screen1 .line3 {
  position: absolute;
  left: 65.6%;
  top: 30%;
  height: 2px;
  background: #997C6C;
  -webkit-animation: move3 1.7s 1 linear forwards;
  animation: move3 1.7s 1 linear forwards;
  -webkit-animation-delay: 2.3s;
  animation-delay: 2.3s; }

.screen1 .arrow-top {
  position: absolute;
  left: 94.5%;
  top: 26%;
  height: 1.5px;
  background: #997C6C;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
  -webkit-animation: arrowmove 1s 1 linear forwards;
  animation: arrowmove 1s 1 linear forwards;
  -webkit-animation-delay: 4s;
  animation-delay: 4s; }

.screen1 .arrow-bottom {
  position: absolute;
  left: 94.5%;
  top: 34.5%;
  height: 1.5px;
  background: #997C6C;
  -webkit-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  transform: rotate(-35deg);
  -webkit-animation: arrowmove 1s 1 linear forwards;
  animation: arrowmove 1s 1 linear forwards;
  -webkit-animation-delay: 4s;
  animation-delay: 4s; }

.screen1 .vert1 {
  position: absolute;
  left: 12.5%;
  top: 57%;
  width: 2px;
  background: #997C6C;
  -webkit-animation: movevert1 0.3s 1 linear forwards;
  animation: movevert1 0.3s 1 linear forwards;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.screen1 .vert2 {
  position: absolute;
  left: 12.5%;
  top: 91%;
  width: 2px;
  background: #997C6C;
  -webkit-animation: movevert2 0.8s 1 linear forwards;
  animation: movevert2 0.8s 1 linear forwards;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }

.screen1 .line5 {
  position: absolute;
  left: 12.5%;
  top: 191%;
  height: 2px;
  background: #997C6C;
  -webkit-animation: moveline5 1s 1 linear forwards;
  animation: moveline5 1s 1 linear forwards;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s; }

.screen1 .vert3 {
  position: absolute;
  left: 50%;
  top: 191%;
  width: 2px;
  background: #997C6C;
  -webkit-animation: movevert3 1s 1 linear forwards;
  animation: movevert3 1s 1 linear forwards;
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s; }

.screen1 .product {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 14.5%;
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s; }
  .screen1 .product a {
    color: #997C6C;
    text-decoration: none; }

.screen1 .arrow-left {
  position: absolute;
  left: 48.85%;
  top: 231%;
  height: 1.5px;
  background: #997C6C;
  -webkit-transform: rotate(55deg);
  -ms-transform: rotate(55deg);
  transform: rotate(55deg);
  -webkit-animation: arrowmove 1s 1 linear forwards;
  animation: arrowmove 1s 1 linear forwards;
  -webkit-animation-delay: 4s;
  animation-delay: 4s; }

.screen1 .arrow-right {
  position: absolute;
  left: 49.75%;
  top: 231%;
  height: 1.5px;
  background: #997C6C;
  -webkit-transform: rotate(-55deg);
  -ms-transform: rotate(-55deg);
  transform: rotate(-55deg);
  -webkit-animation: arrowmove 1s 1 linear forwards;
  animation: arrowmove 1s 1 linear forwards;
  -webkit-animation-delay: 4s;
  animation-delay: 4s; }

@-webkit-keyframes moveline5 {
  from {
    width: 0; }
  to {
    width: 37.5%; } }

@keyframes moveline5 {
  from {
    width: 0; }
  to {
    width: 37.5%; } }

@-webkit-keyframes movevert1 {
  from {
    height: 0; }
  to {
    height: 20%; } }

@keyframes movevert1 {
  from {
    height: 0; }
  to {
    height: 20%; } }

@-webkit-keyframes movevert2 {
  from {
    height: 0; }
  to {
    height: 100%; } }

@keyframes movevert2 {
  from {
    height: 0; }
  to {
    height: 100%; } }

@-webkit-keyframes movevert3 {
  from {
    height: 0; }
  to {
    height: 40%; } }

@keyframes movevert3 {
  from {
    height: 0; }
  to {
    height: 40%; } }

@-webkit-keyframes arrowmove {
  from {
    width: 0; }
  to {
    width: 1.6%; } }

@keyframes arrowmove {
  from {
    width: 0; }
  to {
    width: 1.6%; } }

@-webkit-keyframes move {
  0% {
    width: 0; }
  100% {
    width: 18.5%; } }

@keyframes move {
  0% {
    width: 0; }
  100% {
    width: 18.5%; } }

@-webkit-keyframes move3 {
  0% {
    width: 0; }
  100% {
    width: 30%; } }

@keyframes move3 {
  0% {
    width: 0; }
  100% {
    width: 30%; } }

.screen2 {
  height: 100vh; }

.screen2 .topbar {
  width: 83%;
  margin: 30px auto; }
  .screen2 .topbar span {
    font-size: 1.5rem;
    font-family: "Della Respira", serif;
    color: #DD8496; }
  .screen2 .topbar .logo a {
    display: block;
    background: url(../images/logo.png);
    background-size: auto 97px;
    background-repeat: no-repeat;
    height: 91px; }
  .screen2 .topbar .centered {
    padding-top: 2.5%;
    display: -webkit-box;
<<<<<<< HEAD
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
=======
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
>>>>>>> 3155246e87c8d08cf13d90deddff44343617d8ef
    -ms-flex-pack: center;
    justify-content: center; }
    .screen2 .topbar .centered p {
      margin: 0; }
  .screen2 .topbar .icone-client {
    width: 25px;
    height: 25px;
    background: url(../images/people_rose.png);
    background-size: 25px 25px; }
    .screen2 .topbar .icone-client + a {
      text-decoration: none; }
    .screen2 .topbar .icone-client + a:hover span {
      color: #997C6C; }
  .screen2 .topbar .icone-panier {
    width: 25px;
    height: 25px;
    background: url(../images/panier_rose.png);
    background-size: 25px 25px; }
    .screen2 .topbar .icone-panier + a {
      text-decoration: none; }
    .screen2 .topbar .icone-panier + a:hover span {
      color: #997C6C; }
  .screen2 .topbar .social {
    display: -webkit-box;
<<<<<<< HEAD
=======
    display: -webkit-flex;
>>>>>>> 3155246e87c8d08cf13d90deddff44343617d8ef
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
<<<<<<< HEAD
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
=======
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
>>>>>>> 3155246e87c8d08cf13d90deddff44343617d8ef
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .screen2 .topbar .social .fb a {
      display: block;
      margin: 0 10px;
      width: 30px;
      height: 30px;
      background: url(../images/fb_rose.png);
      background-size: 30px 30px; }
    .screen2 .topbar .social .twi a {
      display: block;
      margin: 0 10px;
      width: 30px;
      height: 30px;
      background: url(../images/twitter_rose.png);
      background-size: 30px 30px; }
    .screen2 .topbar .social .insta a {
      display: block;
      margin: 0 10px;
      width: 30px;
      height: 30px;
      background: url(../images/insta_rose.png);
      background-size: 30px 30px; }
  .screen2 .topbar div {
    text-align: center; }

.screen2 header ul {
  margin: 0 auto;
  width: 90.5%;
  padding: 0;
  font-size: 1.5rem;
  position: relative; }
  .screen2 header ul li {
    list-style: none;
    text-align: center;
    padding-bottom: 5px; }
    .screen2 header ul li a {
      font-family: "Della Respira", serif;
      text-decoration: none;
      color: #DD8496; }
    .screen2 header ul li a.color-active {
      color: #997C6C; }
    .screen2 header ul li .sub-menu {
      background: white;
      width: 100%;
      position: absolute;
      left: -2.5%;
      top: 25px;
      border-top: 2px solid #997C6C;
      border-bottom: 1.5px solid #997C6C;
      padding: 70px 2.5vw;
      z-index: 9999;
      display: none; }
      .screen2 header ul li .sub-menu > li {
        margin: 0 30px; }
        .screen2 header ul li .sub-menu > li a {
          font-size: 1.4rem; }
  .screen2 header ul li:hover .sub-menu {
    display: -webkit-box;
<<<<<<< HEAD
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
=======
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
>>>>>>> 3155246e87c8d08cf13d90deddff44343617d8ef
    -ms-flex-pack: center;
    justify-content: center; }
  .screen2 header ul li:hover > a {
    color: #997C6C; }

.screen2 .fixedline {
  border-bottom: 2px solid #997C6C;
  width: 80.6%;
  position: relative;
  left: 13px;
  margin: 0 auto; }

.screen2 main {
  margin-top: 50px; }

.slider {
  position: relative; }
  .slider .slider-arrow-left {
    width: 25px;
    height: 25px;
    background: url(../images/triangle_rose.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    left: 19%;
    top: 50%;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
  .slider .slider-arrow-left:hover {
    -webkit-transform: scale(1.5) rotate(-90deg);
    -ms-transform: scale(1.5) rotate(-90deg);
    transform: scale(1.5) rotate(-90deg); }
  .slider .slider-arrow-right {
    width: 25px;
    height: 25px;
    background: url(../images/triangle_rose.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    right: 19%;
    top: 50%;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
  .slider .slider-arrow-right:hover {
    -webkit-transform: scale(1.5) rotate(90deg);
    -ms-transform: scale(1.5) rotate(90deg);
    transform: scale(1.5) rotate(90deg); }
  .slider .slider-index {
    position: absolute;
    left: 46%;
    bottom: -3vh;
    display: -webkit-box;
<<<<<<< HEAD
=======
    display: -webkit-flex;
>>>>>>> 3155246e87c8d08cf13d90deddff44343617d8ef
    display: -ms-flexbox;
    display: flex; }
    .slider .slider-index div {
      margin: 0 10px;
      width: 7px;
      height: 7px;
      border: 1.5px solid #DD8496;
      border-radius: 100%; }

.pink-background {
  background: #DD8496; }

.slider-content {
  max-width: 860px;
  margin: 0 auto;
  overflow: hidden;
  border: solid 1.5px #DD8496;
  display: -webkit-box;
<<<<<<< HEAD
=======
  display: -webkit-flex;
>>>>>>> 3155246e87c8d08cf13d90deddff44343617d8ef
  display: -ms-flexbox;
  display: flex; }
  .slider-content div {
    width: 100%;
    position: relative;
    -webkit-transition: all ease-in .75s;
    -o-transition: all ease-in .75s;
    transition: all ease-in .75s; }
    .slider-content div a {
      display: block;
      border: solid 3px white;
      outline: solid 1.5px #DD8496;
      width: 25%;
      height: 10%;
      background: #DD8496;
      text-decoration: none;
      font-family: "Della Respira", serif;
      font-size: 1.7rem;
      color: white;
      position: absolute;
      right: 20px;
      bottom: 10px;
      text-align: center;
      line-height: 200%;
      -webkit-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
    .slider-content div a:hover {
      -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
      transform: scale(1.08); }

.homepage-products {
  margin-top: 75px; }
  .homepage-products > div {
    margin: 0 10vw; }
    .homepage-products > div h2 {
      border-bottom: 10px solid #DD8496;
      padding-bottom: 8px;
      width: 90%;
      text-transform: uppercase;
      color: #DD8496;
      font-family: "Della Respira", serif;
      font-size: 1.8rem;
      opacity: 0.5;
      cursor: pointer; }
    .homepage-products > div h2.selected {
      opacity: 1; }
  .homepage-products .product-container {
    position: relative; }
  .homepage-products .homepage-products-row {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 20px; }
    .homepage-products .homepage-products-row img {
      max-width: 90%;
      height: auto;
      border: solid 2px #DD8496;
      opacity: 0; }

@-webkit-keyframes fadeIN {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIN {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .homepage-products .show img {
    -webkit-animation: fadeIN 1s 1 linear forwards;
    animation: fadeIN 1s 1 linear forwards; }

.grid {
  height: 100vh;
  font-size: 62.5%;
  font-family: "Della Respira", serif;
  position: relative; }

.titre {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 20vh; }

.titre p {
  font-size: 4rem;
  font-style: italic;
  color: #de8496;
  margin-bottom: 2vh; }

.trait1 {
  top: 168px;
  height: 1px;
  background-color: black;
  width: 250px;
  position: absolute;
  z-index: 1; }

.trait2 {
  top: 168px;
  left: 250px;
  height: 705px;
  background-color: black;
  width: 1px;
  position: absolute;
  z-index: 1; }

.trait3 {
  top: 872px;
  height: 1px;
  background-color: black;
  width: 250px;
  position: absolute;
  z-index: 1; }

.bullet {
  margin-left: 15vh;
  margin-top: 7px;
  margin-right: 15vh;
  z-index: 2;
  background: url(../images/trousseau_background.png); }

.image img {
  height: 10rem;
  width: 10rem;
  margin: 2.5vh 10vh; }

#france {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding-top: 5.5vh;
  font-size: 1.5rem;
  font-style: italic;
  margin-left: -5vh;
  margin-right: 10vh; }

#faitmain {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding-top: 5.5vh;
  font-size: 1.5rem;
  font-style: italic;
  margin-left: -5vh;
  margin-right: 10vh; }

#attention {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding-top: 5.5vh;
  font-size: 1.5rem;
  font-style: italic;
  margin-left: -5vh;
  margin-right: 10vh; }

#quality {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-top: 4vh;
  font-size: 1.5rem;
  font-style: italic;
  margin-left: -5vh;
  margin-right: 10vh; }

#partage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding-top: 3vh;
  font-size: 1.5rem;
  font-style: italic;
  margin-left: -5vh;
  margin-right: 10vh; }

.image {
  width: auto;
  z-index: 3; }

.text {
  width: 65%; }

.espace {
  width: 100%;
  height: 10vh;
  background-color: white; }

.philosophie {
  letter-spacing: normal;
  background-color: #fafafa;
  margin-left: 15vh;
  margin-right: 15vh;
  text-align: justify;
  height: 120vh; }

.title_crea {
  height: 10vh;
  background-color: #fafafa;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 15vh;
  margin-right: 15vh; }

.title_crea p {
  margin-top: 10vh;
  font-size: 2.8rem;
  color: #de8496;
  margin-left: auto;
  margin-right: auto; }

.a_propos h2 {
  padding-top: 4.2vh;
  font-size: 1.6rem;
  margin-left: 5vh; }

#a_propos {
  padding-top: 2vh;
  font-size: 1.6rem;
  margin-left: 5vh;
  margin-right: 5vh;
  line-height: 2.3rem; }

.creatrice {
  height: 35vh;
  width: 100%;
  margin-top: 10vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

#descriptif_crea {
  font-size: 1.4rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: -8vh; }

.creatrice img {
  height: 25vh;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto; }

#parcours {
  padding-top: 2vh;
  font-size: 1.6rem;
  margin-left: 5vh;
  margin-right: 5vh;
  line-height: 2.3rem; }

.parcours h2 {
  font-size: 1.6rem;
  margin-left: 5vh; }

@media only screen and (min-width: 745px) and (max-width: 1024px) {
  .trait1 {
    display: none; }
  .trait2 {
    display: none; }
  .trait3 {
    display: none; }
  .bullet {
    width: auto;
    margin-left: -5vh;
    margin-right: -5vh;
    background: url(../images/trousseau_background.png); }
  .image img {
    height: 10rem;
    width: 10rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  #france {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding-top: 5.5vh;
    font-size: 1.5rem;
    font-style: italic;
    margin-left: -5vh;
    margin-right: 10vh; }
  #faitmain {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding-top: 5.5vh;
    font-size: 1.5rem;
    font-style: italic;
    margin-left: -5vh;
    margin-right: 10vh; }
  #attention {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding-top: 5.5vh;
    font-size: 1.5rem;
    font-style: italic;
    margin-left: -5vh;
    margin-right: 10vh; }
  #quality {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-top: 4vh;
    font-size: 1.5rem;
    font-style: italic;
    margin-left: -5vh;
    margin-right: 10vh; }
  #partage {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding-top: 3vh;
    font-size: 1.5rem;
    font-style: italic;
    margin-left: -5vh;
    margin-right: 10vh; }
  .philosophie {
    letter-spacing: normal;
    background-color: #fafafa;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    height: 120vh; }
  .title_crea {
    height: 10vh;
    background-color: #fafafa;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px; } }

@media only screen and (min-width: 375px) and (max-width: 745px) {
  .trait1 {
    display: none; }
  .trait2 {
    display: none; }
  .trait3 {
    display: none; }
  .bullet {
    width: auto;
    background: url(../images/trousseau_background.png);
    margin-left: -5vh;
    margin-right: -5vh; }
  #france {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.5rem;
    font-style: italic;
    margin-left: 10vh;
    margin-right: 10vh; }
  #faitmain {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.5rem;
    font-style: italic;
    margin-left: 10vh;
    margin-right: 10vh; }
  #attention {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.5rem;
    font-style: italic;
    margin-left: 10vh;
    margin-right: 10vh; }
  #quality {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.5rem;
    font-style: italic;
    margin-left: 10vh;
    margin-right: 10vh; }
  #partage {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.5rem;
    font-style: italic;
    margin-left: 10vh;
    margin-right: 10vh; }
  .image {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .image img {
    height: 10rem;
    width: 10rem;
    margin-bottom: -3vh;
    margin-left: auto;
    margin-right: auto; }
  .text {
    width: 100%; }
  .philosophie {
    letter-spacing: normal;
    background-color: #fafafa;
    margin-left: 2px;
    margin-right: 2px;
    text-align: justify;
    height: 120vh; }
  .title_crea {
    height: 10vh;
    background-color: #fafafa;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 2px;
    margin-right: 2px; } }

div.pure-g#top div.pure-u-1-2#left {
  padding-top: 100px;
  display: -webkit-box;
<<<<<<< HEAD
=======
  display: -webkit-flex;
>>>>>>> 3155246e87c8d08cf13d90deddff44343617d8ef
  display: -ms-flexbox;
  display: flex; }
  div.pure-g#top div.pure-u-1-2#left img.pure-u-3-4#grande {
    width: 345px;
    height: 345px;
    border: 1px solid #997C6C; }
  div.pure-g#top div.pure-u-1-2#left div#goutière {
    padding: 0;
    margin: 0; }
    div.pure-g#top div.pure-u-1-2#left div#goutière div#petites_images {
      margin: 0px 20px 0px 315px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
<<<<<<< HEAD
=======
      -webkit-flex-direction: column;
>>>>>>> 3155246e87c8d08cf13d90deddff44343617d8ef
      -ms-flex-direction: column;
      flex-direction: column;
      width: 105px; }
      div.pure-g#top div.pure-u-1-2#left div#goutière div#petites_images img.petite {
        width: 109px;
        height: 109px;
        margin-bottom: 5px;
        border: 1px solid #997C6C; }

<<<<<<< HEAD
div.pure-g#top div.pure-u-1-2#right2 {
=======
div.pure-g#top div.pure-u-1-2#right {
>>>>>>> 3155246e87c8d08cf13d90deddff44343617d8ef
  padding-top: 100px; }
  div.pure-g#top div.pure-u-1-2#right2 div.titre {
    background-color: #DD8496;
    padding: 3px;
    height: 80px;
    border-radius: 3px; }
    div.pure-g#top div.pure-u-1-2#right2 div.titre h3 {
      padding-left: 30px;
      font-family: "Della Respira", serif;
      font-size: 25px; }
<<<<<<< HEAD
  div.pure-g#top div.pure-u-1-2#right2 div.ligne {
=======
  div.pure-g#top div.pure-u-1-2#right div.ligne {
>>>>>>> 3155246e87c8d08cf13d90deddff44343617d8ef
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    div.pure-g#top div.pure-u-1-2#right2 div.ligne img {
      width: 40px;
      height: 40px;
      padding: 30px 5px 5px 15px; }
    div.pure-g#top div.pure-u-1-2#right2 div.ligne span {
      margin-top: 42px;
      font-size: 13px; }
<<<<<<< HEAD
  div.pure-g#top div.pure-u-1-2#right2 div.ligne2 {
=======
  div.pure-g#top div.pure-u-1-2#right div.ligne2 {
>>>>>>> 3155246e87c8d08cf13d90deddff44343617d8ef
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    div.pure-g#top div.pure-u-1-2#right2 div.ligne2 img {
      width: 30px;
      height: 30px;
      padding: 10px 5px 5px 20px; }
    div.pure-g#top div.pure-u-1-2#right2 div.ligne2 span {
      margin-top: 17px;
      margin-left: 5px;
      font-size: 13px; }
<<<<<<< HEAD
  div.pure-g#top div.pure-u-1-2#right2 div.ligne3 {
=======
  div.pure-g#top div.pure-u-1-2#right div.ligne3 {
>>>>>>> 3155246e87c8d08cf13d90deddff44343617d8ef
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    div.pure-g#top div.pure-u-1-2#right2 div.ligne3 img {
      width: 40px;
      height: 40px;
      padding: 10px 5px 5px 15px; }
    div.pure-g#top div.pure-u-1-2#right2 div.ligne3 span {
      margin-top: 22px;
      font-size: 13px; }
  div.pure-g#top div.pure-u-1-2#right2 div.petit {
    padding-top: 15px;
    padding-right: 350px; }
<<<<<<< HEAD
    div.pure-g#top div.pure-u-1-2#right2 div.petit span.matiere {
=======
    div.pure-g#top div.pure-u-1-2#right div.petit span.matiere {
>>>>>>> 3155246e87c8d08cf13d90deddff44343617d8ef
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
<<<<<<< HEAD
=======
      -webkit-align-items: flex-end;
>>>>>>> 3155246e87c8d08cf13d90deddff44343617d8ef
      -ms-flex-align: end;
      align-items: flex-end;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
<<<<<<< HEAD
=======
      -webkit-flex-direction: column;
>>>>>>> 3155246e87c8d08cf13d90deddff44343617d8ef
      -ms-flex-direction: column;
      flex-direction: column; }
    div.pure-g#top div.pure-u-1-2#right2 div.petit span.quantite {
      font-size: 14px;
      margin-top: 15px; }
    div.pure-g#top div.pure-u-1-2#right2 div.petit input {
      width: 20px;
      height: 20px;
      margin-left: 5px;
      margin-top: 15px; }
    div.pure-g#top div.pure-u-1-2#right2 div.petit span.price {
      background-color: #DD8496;
      margin: 15px -5px 0px 210px;
      font-size: 15px;
      padding: 7px 10px; }
    div.pure-g#top div.pure-u-1-2#right2 div.petit span.ajoutez_au_panier {
      background-color: #DD8496;
      margin-top: 15px;
      font-size: 15px;
      padding: 7px 10px; }
    div.pure-g#top div.pure-u-1-2#right2 div.petit a {
      text-decoration: none; }

div.pure-g#middle {
  padding-top: 100px; }
  div.pure-g#middle div.pure-u-5-8#description {
    background-color: #DD8496;
    text-align: center;
    margin: auto;
    border-radius: 3px;
    padding-top: 0px; }
    div.pure-g#middle div.pure-u-5-8#description h3 {
      font-family: "Della Respira", serif;
      font-size: 22px; }
    div.pure-g#middle div.pure-u-5-8#description p {
      font-size: 17px;
      text-align: left;
      margin: 30px 60px; }
  div.pure-g#middle div.pure-g#garantie_details {
    text-align: center;
    margin: auto; }
    div.pure-g#middle div.pure-g#garantie_details div.pure-u-1-3#détails_entretien {
      background-color: #DD8496;
      margin: 70px 0px 0px 150px;
      height: 173px;
      border-radius: 3px; }
      div.pure-g#middle div.pure-g#garantie_details div.pure-u-1-3#détails_entretien h3 {
        font-family: "Della Respira", serif;
        font-size: 22px; }
      div.pure-g#middle div.pure-g#garantie_details div.pure-u-1-3#détails_entretien p {
        font-size: 17px;
        text-align: left;
        margin: 30px 60px; }
    div.pure-g#middle div.pure-g#garantie_details div.pure-u-1-3#garantie {
      background-color: #DD8496;
      margin: 70px 0px 0px 150px;
      height: 173px;
      border-radius: 3px; }
      div.pure-g#middle div.pure-g#garantie_details div.pure-u-1-3#garantie h3 {
        font-family: "Della Respira", serif;
        font-size: 22px; }
      div.pure-g#middle div.pure-g#garantie_details div.pure-u-1-3#garantie p {
        font-size: 17px;
        text-align: left;
        margin: 40px 60px 30px 60px; }

div.decouvrez h4 {
  text-align: center;
  font-size: 22px;
  margin-top: 60px; }

div.pure-g#bottom {
  display: -webkit-box;
<<<<<<< HEAD
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
=======
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
>>>>>>> 3155246e87c8d08cf13d90deddff44343617d8ef
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }
  div.pure-g#bottom div.pure-u-5-8#first {
    margin-top: 40px;
    display: -webkit-box;
<<<<<<< HEAD
    display: -ms-flexbox;
    display: flex;
=======
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
>>>>>>> 3155246e87c8d08cf13d90deddff44343617d8ef
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    div.pure-g#bottom div.pure-u-5-8#first div.pure-u-1-8 img {
      width: 160px;
      height: 160px; }
  div.pure-g#bottom div.pure-u-5-8#second {
    margin-top: 40px;
    display: -webkit-box;
<<<<<<< HEAD
    display: -ms-flexbox;
    display: flex;
=======
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
>>>>>>> 3155246e87c8d08cf13d90deddff44343617d8ef
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: absolute;
    right: 0; }
    div.pure-g#bottom div.pure-u-5-8#second div.pure-u-1-8 img {
      width: 160px;
      height: 160px; }
  div.pure-g#bottom div.pure-u-5-8#third {
    margin-top: 40px;
    display: -webkit-box;
<<<<<<< HEAD
    display: -ms-flexbox;
    display: flex;
=======
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
>>>>>>> 3155246e87c8d08cf13d90deddff44343617d8ef
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: absolute;
    right: 0; }
    div.pure-g#bottom div.pure-u-5-8#third div.pure-u-1-8 img {
      width: 160px;
      height: 160px; }
